h1{
	color: #AA3939;
	text-align: center;
	font-family: 'Lobster', cursive;
}

h2{
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #773B98;
}

body{
	background-color: #F1CECE;
}

li{
	text-align: center;
	list-style: none;
}